/* Si le body a la classe menu-natif on masque le menu car il est gere par l'application native */
body.menus-natif .menu {
	display:none;
}
.menu {
	position: absolute;
	top: 0px;
	left: 0;
	z-index:10000;
	height: 100%;
	width: 250px;
}
.menu-inner {
	position:absolute;
	height:100%;
	background: #2D2D2D;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}

li.menu-item {
	width: 210px;
}

.menu-item A {
	color: #FFFFFF;
	font-weight: bold;
}

A:link,A:visited,A:active {
	text-decoration: none;
}

li.menu-item span {
	padding: 0.9em 20px;
	display: block;
	font-size: 0.75em;
	font-family: Helvetica, Arial, sans-serif;
}

li.menu-item span:after {
	content: ">";
	position: absolute;
	right: 15px;
}

li.menu-item span:hover:after{
	color: #F7CB63;
}

li.menu-item:first-child,
li.menu-item + li.menu-item{
	border-top:1px solid #777;
}

li.menu-item:last-child{
	border-bottom:1px solid #777;
}

li.menu-item span:hover,
li.menu-item a:active span:hover {
	/*border: 2px #fff solid;*/
	padding: 0.9em 20px;
	display: block;
	border-left: 15px solid #F7CB63;
	font-family: Helvetica, Arial, sans-serif;
}

.menu-title span {
	display:inline-block;
	vertical-align: top;
	font-size: 0.8em;
	color: #FFF;
	padding-top: 0.8rem;
}
.menu-title {
	padding: 30px 0;
}

